.container {
  max-width: 960px;
  margin: 0 auto;
  background: #f9f9f9;
  padding: 25px;
}


.parallax {
  background: url('https://ethelsampleimages.s3.ap-southeast-2.amazonaws.com/artsy1.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.parallax {
  min-height: 500px;
  background: transparent;
}